* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
  min-height: 100vh;
  overflow: auto;


  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.348), rgba(0, 0, 0, 0.655)), url("bgnew.gif");
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; 
  background-color: rgba(0, 0, 0, 0.774);
  font-family: "Google Sans", sans-serif;

  background-color: #0f172a;

  
}

.container{
  min-height: 100vh;

}


nav{
  width: 100%;
  padding: 1rem 5%;
  background-color: #060a13;
  border-bottom: solid 4px rgb(235, 190, 10);
  backdrop-filter: blur(15px);
  margin-bottom: 2rem;
  box-shadow: 0 0 20px rgb(220, 151, 2);

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo{
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(235, 190, 10);
  letter-spacing: 1px;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 2rem;
  
}

.nav-links li a{
  position: relative;
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.nav-links li a:hover{
  color: rgb(235, 190, 10);
  text-shadow: 0 0 10px rgb(220, 151, 2);
}

.btns{
  display: flex;

}

.btn{
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  background:rgb(235, 190, 10);
  color: white;
  text-shadow: 0 0 15px black;
  box-shadow: 0 0 15px rgb(220, 151, 2);
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover{
  background-color: rgba(255, 246, 201, 0.866);
  box-shadow: 0 0 25px rgb(253, 202, 33);
}


.titlebar{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    font-family: "PT Serif Caption", serif;

    color: white;
    font-weight: bolder;

}

.intro{
  
  padding: 0px 0px;
  font-size: 2rem;
}

.name{
  padding-top: 0;
  font-size: 1rem;
  font-weight: lighter;
}


.homebuttons{
  margin-top: 15px;
}

#addnew{
  padding: 0.7rem 1.5rem;
}